<ion-header class="custom-header">
  <ion-buttons slot="start" style=" --ionicon-stroke-width: 2rem;" class="ion-align-items-center ion-justify-content-center">
    <ion-button (click)="cerrarModal()" >
      <ion-icon name="remove" size="large" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-searchbar color="dark" placeholder="¿A dónde te gustaría ir?"></ion-searchbar>
</ion-header>
<ion-content class="custom-content ion-padding">
  <ion-text class="ion-text-bold" color="medium">
    <b># Canales Anteriores</b>
  </ion-text>
      <ion-card class="content_usurio">
        <ion-icon src="../../assets/Group 25.svg" size="large"></ion-icon>
        <ion-text class="chat_nombre" color="light" class="chat_nombre">
          <b>My_User_12354</b>
        </ion-text>        
      </ion-card>
  <ion-text class="ion-text-bold" color="medium">
    <b>Menciones</b>
  </ion-text>  
  
  <ion-card class="content_usurio">
    <ion-text class="chat_nombre" color="light" >
      <b>No se encuentran menciones</b>
    </ion-text>        
  </ion-card>
</ion-content>
