.x{
    display: flex;
    background-color: #3A3A3A;
}
.aside{
    display: flex;
    width: 15%;
    height: 53.875rem;
    padding: 0.875rem 0.4375rem 49.1875rem 0.4375rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5625rem;
    flex-shrink: 0;
    background-color: #3A3A3A;
}
.aside2_button{
    color: #000;
    background-color: #3A3A3A;
}
.bodyCenter{
    width: 70%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 1rem;
    background: #535353;
}
.aside2{
    width: 15%;
    height: 100vh;
    display: inline-flex;
    padding: 0rem 0.5rem 0rem 0.375rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #3A3A3A;
}
.bodyCenter_titulo{
    color: #FFF;
    text-align: center;
    font-family: Lilita One;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1rem;
    margin-top: 0.3rem;
}
.bodyCenter_forma{
    width: 1.25rem;
    height: 1.1875rem;
    flex-shrink: 0;
    fill: #939393;
    margin-top: 1.4rem;
    margin-right: 0.1rem;
}
.bodyCenter_inicio{
    display:flex;
    justify-content: space-around;
    margin-top: 0.5rem;
}
.bodyCenter_buscarBloque{
    width: 14.9625rem;
    height: 2.25rem;
    flex-shrink: 0;
    border-radius: 0.125rem;
    background: #3A3A3A;
    display:flex;
    justify-content: space-around;
    margin-top: 0.5rem;
}
.bodyCenter_buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
}
.buscarBloque_texto{
    color: #FFF;
    text-align: center;
    font-size: 0.505rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.025rem;
    margin-top: 0.27rem;
}
.buscarBloque_forma{
    margin-top: 0.4rem;
}
.bodyCenter_chat{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.chat_1{
    width: 95%;
    height: 2.6875rem;
    flex-shrink: 0;
    border-radius: 0.1875rem;
    background: #646464;
    display:flex;
    gap: 0.7rem;
}
.chat_nombre{
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07rem;
    margin-top: -0.2rem;
}
.chat_imagen{
    width: 1.625rem;
    height: 1.625rem;
    flex-shrink: 0;
    margin-top: 0.5rem;
    margin-left: 0.4rem;
}